* {
    margin: 0;
    padding: 0;
  }
  
  html {
    width: 1052px;
    margin: auto;
  }
  
  .header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    height: 105px;
    margin: 92px 24px 96px 0;
    width: 100%;
    padding: 4px 85px 0 50px;
  }
  
  .header-links-list {
    display: flex;
    list-style-type: circle;
    flex-direction: row;
    width: 392px;
    justify-content: space-between;
    justify-self: start;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.13px;
    text-align: left;
  }
  
  .main {
    width: auto;
    list-style-type: none;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.13px;
    text-align: left;
  }
  
  .check-lots {
    text-decoration: underline;
  }
  
  .about-auction {
    text-decoration: underline;
  }
  
  .logo-container {
    z-index: -1;
    display: flex;
    width: 148px;
    height: 105px;
    padding: 0 0 0 25px;
  }

  .logo-black {
    width: 135px;
    height: 107px;
  }
  
  .contacts {
    justify-self: end;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.3px;
    letter-spacing: 0.01em;
    text-align: left;

  }
  
  address {
    text-decoration: none;
    font-style: normal;
  }
  
  .cover {
    max-width: 1100px;
    min-height: 757px;
    background-image: url(../images/cover.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    font-weight: 700px;
    font-size: 100px;
    padding: 115px 50px 0px 50px;
    position: relative;
  }
  
  .cover-title {
    height: 355px;
    width: 1000px;
    line-height: 124px;
    position: relative;
    z-index: 1;
  }
  
  .no-letter-spacing {
    font-family: Raleway, sans-serif;
    font-size: 100px;
    font-weight: 700;
    line-height: 115px;
    letter-spacing: 0.3em;
    text-align: left;
    position: relative;
    z-index: 1;
  }
  
  .letter-spacing-extended {
    font-family: Raleway, sans-serif;
    font-size: 100px;
    font-weight: 700;
    line-height: 115px;
    letter-spacing: 0.6em;
    text-align: left;
    position: relative;
    z-index: 1;
  }
  
  .overlay {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    z-index: 0;
    position: absolute;
    inset: 0;
  }
  
  .aligned-text {
    display: block;
  }
  
  .aligned-text_center {
    display: block;
    text-align: center;
    line-height: 50px;
  }
  
  .aligned-text_right {
    display: block;
    text-align: end;
    line-height: 35px;
    margin-left: 584px;
    margin-top: 6px;
  }
  
  .cover-description {
    color: white;
    font-family: Raleway, sans-serif;
    font-size: 22px;
    font-weight: 400;
    word-spacing: 18px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 65px 0px 0px 14px;
    position: relative;
    z-index: 1;
  }
  
  .bet-button {
    background-color: transparent;
    width: 330px;
    height: 51px;
    top: 655px;
    left: 794px;
    gap: 0px;
    border: 1px solid white;
    color: white;
    font-weight: 500px;
    text-align: center;
    padding: 0px 20px;
    margin: 64px 0px 0 0;
    font-size: 22px;
  }
  
  .lots {
    margin-top: 180px;
    width: 1052px;
    padding-inline: 24px;
  }

  .lots-heading {
    text-transform: uppercase;
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size: 40px;
    margin-bottom:27px;
    margin-left: 40px;
  }

  .lots-card-list {
    display: flex;
    list-style-type: none;
    gap: 25px;
    justify-content: space-between;
    height: 563px;

  }

  .lots-card-item {
    width: 334px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
    height: 100%;
    padding: 48px 40px;
    position: relative;
    z-index: 1;
  }

  .card-title {
    font-family: Raleway, sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
    color: white;
    text-transform: uppercase;
    text-decoration: underline;
    position: relative;
    z-index: 1;
  }
  
  .card-type-film {
    background-image: url(../images/card-lot-01.jpg);
    background-size: cover;
    background-position: center;
  }
  
  .card-type-book {
    background-image: url(../images/card-lot-02.jpg);
    background-size: cover;
    background-position: center;
  }
  
  .card-type-painting {
    background-image: url(../images/card-lot-03.jpg);
    background-size: cover;
    background-position: center;
  }
  
  .card-text {
    font-family: Raleway, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: white;
    position: relative;
    z-index: 1;
    margin-bottom: 20px;
  }
  
  .lots-link {
    text-decoration: underline;
    font-family: Raleway, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    text-align: left;
    margin-left: 40px;
    padding-top: 32px;
    position: relative;
    display: block;
  }
  
  .about {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 182px;
    margin-left: 20px;
  }
  
  .about-title {
    text-transform: uppercase;
    font-family: Raleway, sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 46.96px;
    text-align: left;
    margin-bottom: 50px;
    margin-top: 100px;
    padding-bottom: 50px;
  }
  
  .about-text {
    margin-bottom: 22px;
    font-family: Raleway, sans-serif;
    font-size: 20px;
   font-weight: 400;
    line-height: 24px;
    text-align: left;
    padding-right: 45px;
  }
  
  .about-logo {
    background-color: black;
    width: 240px;
    height: 240px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-left: 48px;
  }
  
  .about-logo-white {
    width: 147px;
    height: 147px;
    margin-right: 48px;
  }
  
  .footer {
    display: flex;
    justify-content: space-between;
    margin-top: 160px;
    padding-left: 52px;
    padding-right: 52px;
    margin-bottom: 88px;
  }
  
  .footer-menu-list {
    list-style-type: none;
    text-align: center;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.13px;
    padding-left: 30px;
  }
  
  .footer__menu-link {
    text-decoration: underline;
  }
  
  .footer-social-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    width: 240px;
    justify-content: space-between;
  }
  
  .footer__social-icon {
    width: 48px;
    height: 48px;
    margin-right: 5px;
  }
  